In [1]:
gugudan7=7

for x in range(0,10):
    print(f"{gugudan7} x {x}={gugudan7*x}")

7 x 0=0
7 x 1=7
7 x 2=14
7 x 3=21
7 x 4=28
7 x 5=35
7 x 6=42
7 x 7=49
7 x 8=56
7 x 9=63

In [26]:
total = 0
jjak_hqp = 0
hole_hap = 0

for i in range(1, 101):
    total += i
    if i % 2 == 0:
        jjak_hqp  += i
    else:
        hole_hap += i

print(f"1~100 전체 합계: {total}")
print(f"1~100 짝수 합계: {jjak_hqp}")
print(f"1~100 홀수 합계: {hole_hap}")

1~100 전체 합계: 5050
1~100 짝수 합계: 2550
1~100 홀수 합계: 2500

In [19]:
result1 = [i for i in range(1, 21) if i % 3 == 0]
print(f"3의 배수: {result1}")

3의 배수: [3, 6, 9, 12, 15, 18]

In [16]:
names = ["김철수", "이영희", "박", "최수진", "정대현"]
result2 = [len(name) for name in names]
print(f"이름 길이: {result2}")

이름 길이: [3, 3, 1, 3, 3]

In [18]:
celsius = [0, 10, 20, 30, 40]
result3 = [c * 9/5 + 32 for c in celsius]
print(f"화씨 변환: {result3}")

화씨 변환: [32.0, 50.0, 68.0, 86.0, 104.0]

In [23]:
sutjadle= list(range(1,101))
hap = 0

for sutja in sutjadle:
    hap += sutja

print (hap)

5050

In [ ]:
hap = 0
jjak = 0
hole = 0

In [ ]:
과일 = ["사과, 바나나, 딸기, 포도"]

In [42]:
색 = ["빨", "주", "노", "초", "파", "남", "보"]
del 색[0]
print(색)

['주', '노', '초', '파', '남', '보']

In [48]:
과일 = ["사과", "바나나", "딸기"]
print("1 엄마가 처음사온 과일", 과일)

과일.append("포도")
print("2 아빠가 퇴근 후에 사온 과일", 과일)

과일.insert(1, "키위")
print("3 이모가 놀러오면서 사온 과일", 과일)

del 과일[2]
print("4 먹고 남은 과일",과일)

1 엄마가 처음사온 과일 ['사과', '바나나', '딸기']
2 아빠가 퇴근 후에 사온 과일 ['사과', '바나나', '딸기', '포도']
3 이모가 놀러오면서 사온 과일 ['사과', '키위', '바나나', '딸기', '포도']
4 먹고 남은 과일 ['사과', '키위', '딸기', '포도']

In [13]:
a=(1,2)
b=(4,6)
c=(7,3)

ax, ay = a
bx, by = b
cx, cy = c

x평균 = (ax+bx+cx)/3
y평균 = (ay+by+cy)/3

print (f"x평균은, {x평균:.1f}")
print (f"y평균은, {y평균:.1f}")
print (ax)

x평균은, 4.0
y평균은, 3.7
1

In [1]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
unique_sorted = sorted(set(numbers))
print(f"중복 제거 + 정렬: {unique_sorted}")

중복 제거 + 정렬: [1, 2, 3, 4, 5, 6, 9]

In [22]:
myGirlfriends = {
    "에스파 010-1004-1004",
    "아일릿 010-5004-5004",
    "아이브 010-9004-9004"
}
print ("지금 여자친구들", myGirlfriends)

지금 여자친구들 {'아이브 010-9004-9004', '에스파 010-1004-1004', '아일릿 010-5004-5004'}